<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Angular - Coursera | Module 1</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <nav ng-controller="NavBarController">
        <div class="logo">
            <img src="static/img/AngularJS-Shield-small.png" alt="Angular Shield" />
            <img src="static/img/j2d2MainLogo.png" alt="J2D2" />
            {{title}}
        </div>
        <ul>
            <li>See below for solution</li>
        </ul>
    </nav>

    <div class="main" ng-controller="LunchCheckController">
        <h1>What do you want for lunch?</h1>
        <div class="subhead">Please enter items separated by a comma</div>
        <input type="text"
            ng-model="lunchItems"
            ng-keyup="clearError()"
            placeholder="Enter Items Here"
            autofocus
        />
        <div class="input-wrapper">
            <input type="button"
                value="Check if too much!"
                ng-click="checkLunchItems()"
            />&nbsp;&nbsp;
            <input type="button"
                value="Clear"
                ng-click="clearLunchItemsAndMessage()"
            />
        </div>
        <div class="result-wrapper" ng-class="resultClass">
            {{message}}
        </div>
    </div>

    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</body>
</html>