<h1 style="text-align:center;">David's Restaurant</h1>
<div class="home-grid">
    <div class="home-grid--wrapper">
        <img
            ui-sref="item({short_name: 'F', full_name: 'Fried Rice'})"
            src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1.5&auto=format&crop=entropy&fit=crop&w=1500&h=1016&q=80&cs=tinysrgb"
            alt="Food 01" />
        <div class="home-grid--caption">Delicious Fried Rice</div>
    </div>
    <div class="home-grid--wrapper">
        <img
            ui-sref="item({short_name: 'F', full_name: 'Beef'})"
            src="https://images.unsplash.com/photo-1446645681877-acde17e336a9?dpr=1.5&auto=format&crop=entropy&fit=crop&w=1500&h=846&q=80&cs=tinysrgb"
            alt="Food 02" />
        <div class="home-grid--caption">Beef with Vegetables</div>
    </div>
    <div class="home-grid--wrapper">
        <img
            ui-sref="item({short_name: 'L', full_name: 'Lunch'})"
            src="https://images.unsplash.com/photo-1470256699805-a29e1b58598a?dpr=1.5&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb"
            alt="Food 03" />
        <div class="home-grid--caption">Join Us For Dinner or Lunch!</div>
    </div>
</div>
<h2>Use the items at top to choose your order</h2>