<div class="container profile-container">
    <h1 id="menu-categories-title" class="text-center">My Info</h2>
    <div class="text-center" style="width:100%;">

        <div ng-if="!myInfoCtrl.myInfo.firstName">
            <p>You haven't signed up yet!</p>
            <button class="btn btn-primary btn-margin-top" ui-sref="public.signup">Sign Up Now</button>
        </div>

        <div ng-if="myInfoCtrl.myInfo.firstName" class="profile-info-wrapper">
            <div class="profile-contact">
                <h3>Contact</h2>
                First Name: {{myInfoCtrl.myInfo.firstName}}<br />
                Last Name: {{myInfoCtrl.myInfo.lastName}}<br />
                Email Address: {{myInfoCtrl.myInfo.email}}<br />
                Phone Number: {{myInfoCtrl.myInfo.phone}}
            </div>
            <div class="profile-favorite">
                <h3>My Favorite Dish</h2>
                {{myInfoCtrl.myInfo.favoriteDetails.name}}<br />
                <img ng-if="myInfoCtrl.myInfo.favoriteImg"
                    ng-src="{{myInfoCtrl.myInfo.favoriteImg}}"
                    alt="{{myInfoCtrl.myInfo.favoriteDetails.name}}"
                    class="favorite-img" />
                <div ng-if="!myInfoCtrl.myInfo.favoriteImg">No Image Available</div>
                <div class="text-small">{{myInfoCtrl.myInfo.favoriteDetails.description}}</div>
            </div>
        </div>

    </div>
</div>