<!DOCTYPE html>
<html>
<head>
    <title>Angular - Coursera | Components</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</head>

<body ng-app="ShoppingListComponentApp">
    <div ng-controller="ShoppingListController as sl">
        <h1>Shopping List With Components</h1>
        <input type="text" ng-model="sl.name" />
        <input type="text" ng-model="sl.quantity" />
        <button ng-click="sl.addItem();">Add Item!</button>
        {{sl.lastRemoved}}
        <shopping-list items="sl.items" my-title="{{sl.title}}" remove="sl.removeItem(index)">
        </shopping-list>
    </div>
</body>