body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
nav {
    width: 100%;
    box-shadow: 0 0 3px 0 #333;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    padding: 6px;
    height: 50px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 6px;
    margin-left: 6px;
}
.main {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1 {
    font-weight: normal;
    margin-bottom: 6px;
    color: #111;
    font-size: 2.5em;
}
.subhead {
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 50px;
}
.main input[type="text"] {
    padding: 12px;
    border: 0;
    box-shadow: 0 0 9px 1px #666;
    font-size: 2.5em;
    margin-bottom: 16px;
    min-width: 50%;
}
.main input[type="text"]:focus {
    outline: 0;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}
.input-wrapper input {
    min-width: 50%;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #008fbf;
    background-color: #008fbf;
    transition: border 0.3s ease;
}
.input-wrapper input:hover {
    border: 1px solid #000;
}
.result-wrapper {
    margin-top: 50px;
    padding: 16px;
    font-size: 2em;
    transform: translateY(50%);
}
.success-add, .success-remove {
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.success, .success-add.success-add-active {
    background-color: #32bd07;
    color: #fff;
    transform: translateY(0);
}
.success-remove.success-remove-active {
    transform: translateY(-50%);
}

.fail-add, .fail-remove {
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.fail, .fail-add.fail-add-active {
    background-color: #d22828;
    color: #fff;
    transform: translateY(0);
}
.fail-remove.fail-remove-active {
    transform: translateY(-50%);
}

.error-add, .error-remove {
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.error, .error-add.error-add-active {
    background-color: #c7c136;
    color: #fff;
    transform: translateY(0);
}
.error-remove.error-remove-active {
    transform: translateY(-50%);
}