body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
nav {
    width: 100%;
    box-shadow: 0 0 3px 0 #333;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    padding: 6px;
    height: 50px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 6px;
    margin-left: 6px;
}
.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1 {
    font-weight: normal;
    margin-bottom: 6px;
    color: #111;
    font-size: 2.5em;
}
.subhead {
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 50px;
}
.main input[type="text"] {
    padding: 0 6px 0 6px;
    border: 0;
    font-size: 1.5em;
    border-bottom: 1px solid #000;
    margin-bottom: 6px;
    min-width: 50%;
}
.main input[type="text"]:focus {
    outline: 0;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
}
.input-wrapper input {
    margin: 6px;
}
.result-wrapper {
    margin-top: 50px;
    padding: 16px;
    font-size: 2em;
}
.success {
    background-color: #32bd07;
    color: #fff;
}
.fail {
    background-color: #d22828;
    color: #fff;
}
.error {
    background-color: #c7c136;
    color: #fff;
}