<!DOCTYPE html>
<html>
<head>
    <title>Angular - Coursera | Module 3 Solution</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</head>
<body ng-app="NarrowItDownApp">
    <div ng-controller="NarrowItDownController as nd" class="center">
        <h1>Search Menu Item Descriptions</h1>
        <input type="text" ng-model="nd.searchTerm" placeholder="Search Me!" />
        <input type="button" value="Narrow It Down For Me!" ng-click="nd.getMatchedMenuItems()">
        <input type="button" value="Clear" ng-click="nd.clear()">
        <found-items found="nd.found" error="nd.error" remove-item="nd.removeItem"></found-items>
    </div>
</body>
</html>