<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular - Coursera | Providers</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>

</head>

<body>
    <h1>Services through Providers</h1>

    <div ng-controller="ShoppingListController as list">
        <h3>Add Item...</h3>
        <input type="text" ng-model="list.name" placeholder="Item Name" />
        <input type="text" ng-model="list.quantity" />
        <button ng-click="list.addItem()">Add</button>
        <ul>
            <li ng-repeat="i in list.items">
                {{i.name}}: {{i.quantity}} <button ng-click="list.removeItem($index)">Remove</button>
            </li>
        </ul>
        {{list.errorMessage}}
    </div>

    <script type="text/javascript" src="./app.js"></script>
</body>
</html>